// b o d y

/* M A I N */
.totalcontainer {
    padding-bottom: 100px;
    background-color: black;

    .carouseltotal {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 81px;

        .carousel-inner {
            height: 500px;
        }

        .carousel-caption-container {
            position: absolute;
            top: 170px;
            left: 0px;
            width: 100%;
            max-width: 1200px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            color: #fff;
        }
    }

    .card {
        color: #000047;
        background-color: #413f3f;

        &-total {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-content: center;

            .btn {
                background-color: black;
            }
        }
    }
}