// p e s t a ñ a t u r n o s

/* T U R N O S */
.turnos-title {
    color: white;
    position: relative;
    top: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    .card {
        color: #000047;
        background-color: #413f3f;

        .btn {
            background-color: black;
        }
    }
}
